.BrwMachineDetails{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
}

.brwMachDet p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    padding: 20px;
    background-color: rgb(231, 231, 231);
    font-size: 20px;
}

button{
    margin-bottom: 20px;
}