.container {
    padding: 1.5rem;
    max-width: 48rem;
    margin: 0 auto;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    space-y: 1rem;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top: 1.25rem;
  }
  
  .form-item {
    margin-bottom: 1rem;
  }
  
  .previous-work-container {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #e0f7fa;
    border-radius: 0.5rem;
    border: 2px solid black;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .add-button,
  .delete-button,
  .save-button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .add-button {
    margin-bottom: 1.5rem;
    background-color: #cbe284;
    border: 1px dashed #d9d9d9;
  }
  
  .save-button {
    background-color: #1890ff;
    color: white;
    font-weight: 600;
  }

 
  
  .save-button:hover {
    background-color: #40a9ff;
  }
  .add-button:hover {
    background-color: #b9e420;
  }
  